
html, body {
  background-color:#4D4D4D;
}

body {
  font-family:'Open Sans', sans-serif;
  font-size:15px;
  line-height:25px;
  font-weight:400;

  text-align:left;
  background:url(foo) fixed;

  overflow-x:hidden;
  overflow-y:scroll;
  color:#E5E5E5;
}
table {
  border-top:1px solid #e5eff8;
  border-right:1px solid #e5eff8;
  border-collapse:collapse;
}
caption {
  text-align:left;
}
td {
  border-bottom:1px solid #e5eff8;
  border-left:1px solid #e5eff8;
  padding:.3em 1em;
  text-align:left;
}
th {
  font-weight:bold;
  text-align:left;
  border-bottom: 1px solid #e5eff8;
  border-left:1px solid #e5eff8;
  padding:.3em 1em;
  background:#5D5D5D;
}
#track {
  font-size:smaller;
  font-weight:normal;
}
#player {
  color:#E5A500;
}
.points {
  text-align:center;
}
.minor
{
  font-size:smaller;
  color:#959595;
}
tr.even td {
  background:#3D3D3D;
}

td.pointcolumn {
  border-right:1px hidden #767B7F;
}
td.poscolumn
{
  font-size:smaller;
  color:#959595;
}
.pos1 {
  background:#7F7F2F;
}
tr.even td.pos1 {
  background:#7F7F2F;
}
td.poscolumn.pos1 {
  color:#E5E5E5;
}
.pos2 {
  background:#6F6F6F;
}
tr.even td.pos2 {
  background:#6F6F6F;
}
td.poscolumn.pos2 {
  color:#E5E5E5;
}
.pos3 {
  background:#7F6F4F;
}
tr.even td.pos3 {
  background:#7F6F4F;
}
td.poscolumn.pos3 {
  color:#E5E5E5;
}