
html, body {
  background-color:#4D4D4D;
}

body {
  font-family:'Open Sans', sans-serif;
  font-size:15px;
  line-height:25px;
  font-weight:400;

  text-align:left;
  background:url(foo) fixed;

  overflow-x:hidden;
  overflow-y:scroll;
  color:#E5E5E5;
}
table {
  border-top:1px solid #e5eff8;
  border-right:1px solid #e5eff8;
  border-collapse:collapse;
}

td {
  border-bottom:1px solid #e5eff8;
  border-left:1px solid #e5eff8;
  padding:.3em 1em;
  text-align:left;
  }
th {
  font-weight:bold;
  text-align:left;
  border-bottom: 1px solid #e5eff8;
  border-left:1px solid #e5eff8;
  padding:.3em 1em;
  background:#5D5D5D;
  }
#track {
  font-size:smaller;
  font-weight:normal;
}
.points {
  font-size:small;
  text-align:center;
}
tr.even td {
  background:#3D3D3D;
}
#player {
  color:#E5A500;
}
